* {
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
    max-width: 300px;
    margin: auto;
    background-color: #27bdac;
}
main {
    width: 160px;
}
h1 {
    font-size: 190%;
}
#palya {
    background-color: #1ea192;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}
.negyzet {
    background-color: #27bdac;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 250%;
}